.stats{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.row {
/* 	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center; */
	column-count: 2;
}
