.stats{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.row {
	display: flex;
	flex-flow: row;
	/* justify-content: space-between; */
	align-items: center;
	justify-content: center;
}

.heading {
	font-weight: bold;
	display: inline;
	text-align: center;
	width: 100%;
}