.stats{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.row {
	column-count: 2;
}

.heading {
	font-weight: bold;
	display: inline;
	text-align: center;
	width: 100%;
}